@media (min-width: 1400px) {
  #slide-in-container {
    position: absolute;
    top: 500px;
    left: 500px;
  }
  #slide-in-container div:not(.active) {
    display: none;
  }
}
@media (max-width: 1400px) {
  #slide-in-container {
    position: absolute;
    top: 500px;
    left: 125px;
  }
  #slide-in-container div:not(.active) {
    display: none;
  }
}
@media (max-width: 800px) {
  #slide-in-container {
    position: absolute;
    top: 600px;
    left: 125px;
  }
  #slide-in-container div:not(.active) {
    display: none;
  }
}
